* {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	font-weight:100;
}

.container {
	width:800px;
	margin:10px auto 0 auto;
}

.container > svg {
	border:1px solid #DEDEDE;
}

h1 {
	font-weight:100;
	text-align:center;
}

.callLabel,
.numLabel {
	display:block;
	margin:10px 0;
	text-align:center;

}

button {
	background:#FFA3A3;
	border:1px solid red;
	border-radius:5px;
	padding:5px 10px;
	width:150px;
	margin:15px auto;
	display:block;
	color:#fff;
	font-size:16px;
}

button:active {
	background:#FFC2C2;
}

select {
	display:block;
	margin-top:10px;
	margin:0 auto 20px auto;
	width:150px;
}

input {
	display:block;
}

.link {
  stroke: #ccc;
}

.node text {
	pointer-events: none;
	font: 11px sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.slider  {
	margin-bottom:50px;
}

.d3-slider-handle {
	background:#FFB8C4;
	border:1px solid #FF526F;
}


.timeline text {
	font-size:12px;
	text-transform:uppercase;
}

.timeline svg {
	border-top:1px solid #646464;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.calls {
	margin-left:325px;
}

