* {
	margin:0;
	padding:0;
}

select {
	display:block;
}

.link {
  stroke: #ccc;
}

.node text {
	pointer-events: none;
	font: 10px sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
